@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #212D40;
    --secondary-color: #0582CA;
    --accent1-color: #57E2E5;
    --accent2-color: #E0B1CB;

    --heading-font: "Honk", normal;
    --paragraph-font: "VT323", normal;

    --nav-background-color: #212D40;
    --nav-link-color: #0582CA;
    --nav-hover-link-color: #57E2E5;
    --nav-hover-background-color: #E0B1CB;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {  
    background-color: var(--nav-background-color);  
    font-size: 1.2rem;  
    display: flex;  
}  
nav a {  
    display: block;  
    color: var(--nav-link-color);  
    text-decoration: none;  
    padding: 1rem;  
}  
nav a:link, nav a:visited {  
    color: var(--nav-link-color);  
}  
nav a:hover {  
    color: var(--nav-hover-link-color);  
    background-color: var(--nav-hover-background-color);  
}  